tower {
  accessToken = 'eyJ0aWQiOiA5MTA5fS5hODE1YjNkNGI5N2U1MzNhMDFlYWI2NTY3ZDA0ODVhNzg3ZDMxOWNh'
  workspaceId = '31615031402434'
  enabled = true
}

process {
  executor = 'lsf'
  queue = 'normal'
}

// its really apptainer on pmacs, but shouldnt matter
singularity {
  enabled = true
}

// nf-core requests memory in kb
// pmacs wants requests for memory in mb
// therefore, request for 6mb will look like 6gb to pmacs.
params {
  max_memory = 20.MB
  max_cpus = 1
}
