tower {
  accessToken = 'eyJ0aWQiOiA5MTA5fS5hODE1YjNkNGI5N2U1MzNhMDFlYWI2NTY3ZDA0ODVhNzg3ZDMxOWNh'
  workspaceId = '31615031402434'
  enabled = true
}

process {
  executor = 'lsf'
  queue = 'normal'

  withName: KRAKEN2_KRAKEN2 {
    memory = 100.GB
  }

  withName: TAXPASTA_MERGE {
    memory = 20.GB
  }

  withName: KRAKENTOOLS_COMBINEKREPORTS_KRAKEN {
    memory = 20.GB
  }

  withName: MULTIQC {
    memory = 40.GB
    cpus = 4
  }
}

// its really apptainer on pmacs, but shouldnt matter
singularity {
  enabled = true
}

// !!!!!!!!!!!!! IMPORTANT NOTE !!!!!!!!!!!
// in order for memory specs to work..
// cp $LSF_ENVDIR/lsf.conf ~
// in ~/.bashrc add the line:
// export LSF_ENVDIR=/home/[username]
